<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="CaratIQ_Connector::caratiq"
             title="CaratIQ"
             module="CaratIQ_Connector"
             sortOrder="100"
             action="caratiq/index/index"
             resource="CaratIQ_Connector::caratiq"/>
    </menu>
</config>
